:root {
  --ifm-color-primary: #008060;
  --ifm-color-primary-dark: #007457;
  --ifm-color-primary-darker: #006e52;
  --ifm-color-primary-darkest: #005b43;
  --ifm-color-primary-light: #00916d;
  --ifm-color-primary-lighter: #009874;
  --ifm-color-primary-lightest: #00b086;
}

